/* body {
  margin-top: 115px;
  margin-bottom: 94px;
  background-color: #22254b;
}

#img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px 20px 0px;
  background-color: #373b69;
  z-index: 100;
  display: none;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 30px;
  color: #fff;
  padding: 15px 25px;
  width: 100%;
  max-width: 700px;
  background-color: #373b69;
  border: 1px solid #22254b;
  border-radius: 40px;
  outline: none;
}

.input::placeholder {
  color: #fff !important;
  font-size: 30px;
}

.input:focus {
  background-color: #22254b;
}

.bi-search {
  margin-left: -70px;
  color: #fff;
}

.list {
  gap: 30px;
}

.card {
  background-color: #373b69;
}

.boxx {
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #373b6963;
}

.none {
  display: none;
} */

.site-body {
  display: none;
  padding: 10px 50px 100px;
}

.book_img {
  display: block;
  /* margin-top: 40px; */
  padding-right: 100px;
}

.header {
  display: flex;
}

.input {
  margin-left: 160px;
  width: 50%;
  padding: 10px;
  border: 3px solid #f8fafd;
  font-size: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.Logout_link {
  text-decoration: none;
}

.Logout {
  width: 99px;
  border: 1px solid #0d75ff;
  background-color: #0d75ff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-left: 100px;
  margin-top: 0;
}

.input:focus {
  outline: none;
  background-color: blanchedalmond;
}

.list {
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 400px;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.film {
  padding: 20px;
  border: 1px solid #333;
  background-color: blanchedalmond;
  width: 250px;
}

.film__img {
  object-fit: cover;
}

.pages {
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.page__btn {
  border: none;
  padding: 15px;
  border-radius: 10px;
  max-width: 70px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
}
.buttons {
  display: flex;
  width: 500px;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;
}

.page__btn:last-child {
  margin-right: 0;
}

.next-btn {
  margin-left: 20px;
}

.btn-top {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 15px;
  height: 50px;
  font-size: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.none {
  display: none;
}

.prev-ten {
  margin-right: 20px;
}

.buttons::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.buttons::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.buttons::-webkit-scrollbar-thumb {
  background: #888;
}

.buttons::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button_div {
  display: flex;
}

.bookmark {
  background-color: #ffd80d;
  font-weight: bold;
  width: 120px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid#FFD80D;
}

.bookmark:hover {
  background-color: white;
}

.more_info {
  margin-left: 6px;
  border-radius: 5px;
  border: 1px solid white;
  color: #0d75ff;
  font-weight: bold;
  width: 120px;
  height: 37px;
}

.Bookmarks_left {
  display: flex;
  margin: 0;
}

.marks_left {
  width: 268px;
  margin: 0;
}
